
@{
    ViewBag.Title = "updation";
}

<h2>updation</h2>
@{
    ViewBag.Title = "UpdateCollege";
    Layout = "~/Views/Shared/layout2.cshtml";
}
@model List<term_project_ead.Models.College>
<div class="row">

   
<p class="h1" style="font-size:50px ; font-family:Batang ; color:darkseagreen; text-align:center">Update College Cetegory</p> 
    <br /><div style="text-align:center">

<form action="~/admin/update" method="post">
    <table>
        <tbody>
 <tr>
   <td>
<label style="font-family:Batang;margin-left:200%;font-size:x-large ">College Names</label></td>
     <td>
         
<select name="Name" class="form-control" style="margin-left:150%">
     @for(int i = 0 ; i < Model.Count ; i++)
     {
     
                <option>
                    @Model.ElementAt(i).ClgName          
                     
                </option>        
        
                 
     }
                      </select></td> 

      </tr>
            
         <tr>
             <td>
                
<br /><label style="font-family:Batang; margin-left:200%;font-size:x-large "> Cetegory:</label></td>
             <td>
<select name="Category" class="form-control" style="margin-left:150%">
              <option>
                    Government Girls College
                </option>
                 <option>
                    Government Boys College
                </option>
                 <option>
                    Private Girls College
                </option>
                 <option>
                    Private Boys College
                </option>
                 <option>
                    Private Co-College
                </option>
        
                 </select>
   </td>
       </tr>
            </tbody>
         </table>
    <br />
    <br />
     <button type="submit" class="btn btn-success" >Update</button>
             <button style="margin-left:20px " type="reset" class="btn btn-warning" >Cancel</button>
     

       </form>   
     </div>
    </div>

