
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scal[;pl,=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="~/Content/img/n.jpg" />

    <style>
        
    </style>
</head>
<body style="background-image:url(../../Content/img/bk6.jpg) ;" >
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(73, 195, 199, 0.51);background-attachment:fixed">
       <div class="container-fluid">
          <!-- navbar header section -->
          <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="sr-only"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
          </div>
          <!-- navbar menu section -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
               <ul class="nav navbar-nav">
                     
                <li style="margin-left:0px"> <img  alt="m"  style="height:70px;width:130px;";  src="~/Content/img/f.png" /></li>
               
               <li>   <a href="https://mail.google.com/mail/u/0/#inbox" rel="author">
              <img  alt="m"  style="height:30px";  src="../../Content/themes/base/images/gm.png" /> </a> </li>
            <li > <a    href="https://www.facebook.com/bitf12m011"; rel="author"> 
                    <img  alt="m"  style="height:30px";  src="../../Content/themes/base/images/fb2.gif" /> </a></li>
           <li>  <a href="https://twitter.com/NaziaSadiq11" ; rel="author" >
                 <img  alt=""  style=" height:30px";  src="~/Content/img/tw.png"/> </a></li>
                   <li  "><h3 style="font-family:Constantia;font-weight:bolder; color:white"> Future.com </h3></li>

               </ul>

             
          </div>
     </div>
</nav>
        
        
<br />
    <br />
    <br />       <br />
    <br />
    <br />  
    <div style="margin-right:100px;margin-left:100px">
        <nav class="navbar navbar-fixed navbar-custom " style=" background-color: transparent;border-color:transparent"  role="navigation">
            <div class="container-fluid">
          <!-- navbar header section -->
          <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="sr-only"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
          </div>
                  <div class="collapse navbar-collapse navbar-responsive-collapse">
        
            <ul class="nav navbar-nav" style="float:inherit ">

                <li  style="background-color:#90ebe9; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                       <a style="color:black "href="/admin/ShowAllColleges"> <span class="glyphicon glyphicon-cog"> &nbsp; All Colleges </span> </a></li>
           
                <li style="background-color::#90ebe9; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/admin/RegisterCollege" style="color:black"><span class="glyphicon glyphicon-log-out">&nbsp;   Add College</span></a></li>
                 <li style="background-color:#90ebe9; border-bottom-left-radius:10px; font-size:medium;font-family:Constantia ;font-weight:bold; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="~/admin/ViewFeedBack" style="color:black ;font-size:20px;font-family:Constantia ;font-weight:bold;"><span class="glyphicon glyphicon-log-in">View feedBack </span></a></li>
       
                 <li style="background-color:#90ebe9; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="~/admin/Logout" style="color:black"><span class="glyphicon glyphicon-log-in">&nbsp;Logout </span></a></li>
      
                 </ul></div>
            </div>
        </nav>
        </div> 
    <br />
    <br />
        @RenderBody();
     
       <footer style="background-color:rgba(73, 195, 199, 0.51); border:double;margin-bottom:0px; border-color:midnightblue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4 style="color:indigo ;font-family:Constantia"><b>About Us</b></h4>
                        <div class="footer-box-text">
	                        <p style="color:white;font-family:Constantia">
	                        	
                "This is the site which contain information about all the colleges of Pakistan.
                                The site will help those Students who want to take admision in Colleges according to their Marks.
	                        </p>
	                        
                        </div>
                    </div>
                    
                    
        
                    <div class="col-sm-3 footer-box wow fadeInDown">
                       
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                        <h4 style="color:indigo;font-family:Constantia"><b>Contact Us </b></h4>
                        <div class="footer-box-text footer-box-text-contact">
	                        <p style="color:white;font-family:Constantia"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Address: Punjab University College of Information Technology, Allama Iqbal, Old Campus, The Mall road, Lahore</p>
	                       
	                        <p style="color:white"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp; Email: bitf12m011@pucit.edu.pk</p>
                        </div>
                                        <a    href="https://www.facebook.com/bitf12m011";  style="color:indigo ;font-weight:bold" rel="author"> Follow me
                    <img  style="height:20px" alt="m"   src="/Content/img/facebook_40x40.png" /> </a>
             <a href="https://twitter.com/NaziaSadiq11"  rel="author"  style="color:indigo;font-weight:bold">Follow me
                 <img  alt="m"  style="height:20px"  src="/Content/img/twitter-b_40x40.png"/> </a>
                    </div>
                </div>
                <div class="row">
                	<div class="col-sm-12 wow fadeIn">
                		<div class="footer-border"></div>
                	</div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">
                        
                        
                    </div>
                </div>
            </div>
        </footer>
      <div class="container" style="height:20px;margin-bottom:0px;width:inherit;background-color:rgba(0, 0, 0, 0.75)"> 
                   <h5 style="color: white; font-family:Constantia; font-size:medium">
                        CopyRight ©  @DateTime.Now.Year - All rights reserved by
                <a href="https://mail.google.com/mail/u/0/#inbox" rel="author">Bitf12m011@pucit.edu.pk 
              <img  alt="m"  style=" height:20px";  src="../../Content/themes/base/images/gm.png" /> </a>
                <a    href="https://www.facebook.com/bitf12m011"; rel="author"> 
                    <img  style="height:20px" alt="m"   src="../../Content/themes/base/images/fb2.gif" /> </a>
             <a href="https://twitter.com/NaziaSadiq11" ; rel="author" >
                 <img  alt="m"  style="height:20px";  src="~/Content/img/tw.png"/> </a>
                &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              Develop & Design by &nbsp &nbsp Nazia Sadiq</h5></div>

</body></html>