
<head>
    <title></title>
       <!-- Start WOWSlider.com HEAD section -->
        <link rel="stylesheet" type="text/css" href="~/engine1/style.css" />
        <script type="text/javascript" src="~/engine1/jquery.js"></script>
        <!-- End WOWSlider.com HEAD section -->
</head>
<body>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="~/data1/images/Cadet%20College.jpg" alt="Cadet College." title="Cadet College." id="wows1_0"/></li>
		<li><img src="~/data1/images/College%20of%20Physians.jpg" alt="College of Physians" title="College of Physians" id="wows1_1"/></li>
		<li><img src="~/data1/images/Gov%20Women%20College.jpg" alt="Gov Women College" title="Gov Women College" id="wows1_2"/></li>
		<li><img src="~/data1/images/Kinnard%20College.jpg" alt="Kinnard College" title="Kinnard College" id="wows1_3"/></li>
		<li><img src="~/data1/images/Leeds%20College.jpg" alt="Leeds College" title="Leeds College" id="wows1_4"/></li>
		<li><img src="~/data1/images/Miltary%20College.jpg" alt="Miltary College" title="Miltary College" id="wows1_5"/></li>
		<li><img src="~/data1/images/Pakistan%20Law%20College.JPG" alt="Pakistan Law College" title="Pakistan Law College" id="wows1_6"/></li>
		<li><img src="~/data1/images/Pakistan%20Nevy%20College.jpg" alt="Pakistan Nevy College" title="Pakistan Nevy College" id="wows1_7"/></li>
		<li><img src="~/data1/images/Punjab%20College.jpg" alt="Punjab College" title="Punjab College" id="wows1_8"/></li>
		<li><a href="http://wowslider.com/vi"><img src="~/data1/images/Quaid-e-Azam%20medical%20College.jpg" alt="angular slider" title="Quaid-e-Azam medical College" id="wows1_9"/></a></li>
		<li><img src="~/data1/images/Superior%20College.jpg" alt="Superior College" title="Superior College" id="wows1_10"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Cadet College."><span>1</span></a>
		<a href="#" title="College of Physians"><span>2</span></a>
		<a href="#" title="Gov Women College"><span>3</span></a>
		<a href="#" title="Kinnard College"><span>4</span></a>
		<a href="#" title="Leeds College"><span>5</span></a>
		<a href="#" title="Miltary College"><span>6</span></a>
		<a href="#" title="Pakistan Law College"><span>7</span></a>
		<a href="#" title="Pakistan Nevy College"><span>8</span></a>
		<a href="#" title="Punjab College"><span>9</span></a>
		<a href="#" title="Quaid-e-Azam medical College"><span>10</span></a>
		<a href="#" title="Superior College"><span>11</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">slideshow jquery</a> by WOWSlider.com v7.7</div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
    </body>