@{
    ViewBag.Title = "about_us";
}


<head>
    <title >About eus</title>
</head>

     <div  class="container" >  
  
       <p class="h1" style="font-size:50px ; font-family:Constantia;color:black;margin-left:20px">About us</p> 
        <br />
         <div class="row">
     <div class="col-md-6">
        <p id ="college_description" style="font-size:20px ;text-justify:inter-cluster;color:black; font-family:Constantia;font-weight:600 ; margin-left:20px ; ">I am a student of Information Tecnology at PUCIT. My roll number is BITF12M011. 
  I want to explore new technologies, new environments and new plate forms of computer science.<br /> To work with a dynamic and challenging working team with exponential growth prospect. I appreciate challenges since recognition and sense of achievement most motivating factors for me.
</p></div>
             <div class="col-md-5">
                    <img  alt="m" style="margin-left:170px;padding-right:70px;height:300px;width:400px; border-image-slice:fill;border-image:round;border-color:black" src="~/Content/img/about.jpg" /> 
     
             </div>
             </div>

     </div>
        <br /><br />

   <br /><br />
   <br /><br />
   <br /><br />


