@{
    ViewBag.Title = "Index";
}

   
@Html.Partial("~/Views/partial.cshtml");

        
           
         <div class="container" style="width:1100px  ">
            <p style="font-size:25px ;color:white; text-decoration-style:double;font-family:Constantia;">
                "This is the site which contain information about all the colleges of Pakistan.The site will help those Students who want to take admision in Colleges according to their Marks.
        The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education".
                </p></div>
    
  

<br /><br />
   <br /><br />
