@{
    ViewBag.Title = "Thankyouforfeedback";
}
<br /><br /><br /><br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5" style="flex-item-align:center">
       
        <div style="margin-left:200px">
        <img src="~/Content/img/thnx.jpg"  style="flex-item-align:center" class="img-responsive"/></div>
        <div style="background-color:rgba(238, 222, 186, 0.86);padding-left:50px">
            <p style="font-family:Constantia;font-weight:100;color:black">
                Thank you for taking the time to tell us about your Sugestions.
            “If you're going to say what you want to say, you're going to hear what you don't want to hear.” 
            Thanks again for your helpful suggestions on ways to improve our Site.
             </p></div>
        </div>
</div>
